@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px)
  .block-item1
    left: 6%
  .block-item2
    left: 3%
  .block-item3
    left: 14%
  .block-item4
    left: -6%
  .block-item5
    right: -2%
  .block-item6
    right: -7%
  .block-item7
    right: 1%
  .block-item8
    right: 5%
  .team-subtitle
    position: relative
    z-index: 2
@media only screen and (max-width : 1260px)
  .decision-top-left
    right: 0px
  .decision-right
    margin-right: 0
  .deep-bottom:before
    display: none
  .container_fluid_main
    max-width: 1052px
  .header-main_sm
    padding: 150px 0 400px 0
  .contact:before
    top: -60px
  .contact-after-img
    width: 230px
  .contact-after
    bottom: -120px
  .tribe-row
    width: 900px
    margin: 0 auto 40px
  .members-flex:before
    display: none
  .tribe
    overflow: hidden
  .team-contact-after
    width: 230px
  .tribe-title
    max-width: 900px
    margin: 0 auto 50px
  .popup-container
    max-width: 700px
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
  .popup-left
    display: none
  .popup-right
    width: 100%
  .popup
    display: block
    overflow: auto
  .block-header8
    display: none
  .block-header1
    left: 35%
    top: 608px
  .team-subtitle
    max-width: 640px
    font-size: 32px
  .team-title
    font-size: 28px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .header:after, .header:before
    display: none
  .header-main
    padding-top: 40px
  .header-post-title
    font-size: 30px
  .header-post-text
    font-size: 16px
  .header-post-row
    margin-top: 10px
  .header-post
    width: 420px
    padding: 10px
  .header
    padding-bottom: 0
    overflow: visible
    //position: fixed
    //width: 100%
    //top: 0
    //left: 0
    //z-index: 3
  .header-main_sm
    max-width: 100%
  .header-main-title
    text-align: center
  .header-main-text
    text-align: center
  .header-main_sm
    padding-bottom: 670px
  .decision-top-left
    top: -690px
  .decision
    padding-top: 400px
  .decision-top
    top: -470px
  .decision-top-img
    width: 400px
  .block-header2
    display: none
  .inner
    padding-top: 70px
  .menu-item
    font-size: 16px
    margin: 0 5px
  .post-item-main
    padding: 20px
  .post-item-title
    font-size: 22px
    margin-bottom: 10px
  .post-item-text
    font-size: 16px
  .post-item
    margin-bottom: 20px
  .post-more
    padding: 20px 0 40px
  .footer-flex
    padding-bottom: 40px
  .mobile
    display: block
  .desctop
    display: none
  .decision-flex
    flex-wrap: wrap
    justify-content: center
  .decision-left
    max-width: 100%
    text-align: center
  .decision-right-img
    width: 400px
  .decision-right:before
    top: 180px
  .security-description
    margin-bottom: 65px
  .security-item
    width: 100%
  .security-row
    flex-wrap: wrap
    justify-content: center
    margin: 0
  .security-item_first:before
    left: -50px
    top: 80px
  .security-item_second:before, .security-item_third:before, .security-item_fourth:before, .security-item_fifth:before, .security-item_sixth:before
    display: none
  .security-item
    margin-bottom: 20px
  .deep-flex
    flex-direction: column
  .deep-left-img
    width: 400px
  .security
    padding-bottom: 0
  .deep-left:before
    width: 100%
  .deep-left
    margin: 0
    width: 100%
    text-align: center
  .deep-left:before
    background-size: contain
    width: 400px
    left: calc(50% - 200px)
  .deep-right-title
    text-align: center
  .decision-right
    margin-top: 50px
  .deep
    padding-top: 20px
  .deep-right-text
    text-align: center
  .deep-bottom
    margin-top: 80px
  .deep-bottom-right
    position: static
    margin: 0 auto
  .deep-bottom-left
    margin: 50px auto 0
    display: block
  .deep-bottom-right:before
    top: 225px
    left: inherit
    right: 70px
  .click-block
    margin-top: 70px
  .click-bottom
    max-width: 580px
    padding: 30px
  .click-bottom-fire_left
    left: -30px
    top: -140px
  .click-bottom-fire_right
    right: -30px
    top: -140px
  .click-line
    left: -50px
    width: 100%
  .click-line-right
    right: -100px
  .click-line-center
    left: 10%
    top: -5px
  .load-left
    display: none
  .load-right
    margin-left: 0
  .load
    padding-top: 300px
  .load-right
    text-align: center
  .load-right-img
    display: block
    margin: 30px auto 0
  .contact:before
    top: -80px
  .contact:after
    top: -170px
  .shine
    display: none
  .tribe-row
    width: 700px
  .tribe-block
    padding: 20px
  .tribe-text
    font-size: 14px
    margin-top: 10px
    line-height: 1.3
  .tribe-name
    font-size: 20px
  .tribe-prof
    font-size: 18px
  .click-bottom-fire_lefttribe
    top: 0
  .click-bottom-fire_righttribe
    top: 0
  .team
    padding-bottom: 150px
    overflow: hidden
  .tribe-title
    max-width: 700px
  .block-header9, .block-header10, .block-header11, .block-header3, .block-header6, .block-header7
    display: none
  .block-header4
    right: 25%
    top: 630px
  .block-header1
    left: 45%
    top: 775px
  .block-header5
    right: 10%
    top: 800px
  .block-item1, .block-item2, .block-item3, .block-item4, .block-item5, .block-item6, .block-item7, .block-item8
    width: 117px
    height: 75px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .menu-list
    flex-wrap: wrap
  .menu-item
    width: 25%
    margin: 0
    text-align: center
  .post-content
    flex-direction: column
    align-items: center
  .footer-flex-item
    width: 33%
    margin-bottom: 20px
  .footer-flex
    flex-wrap: wrap
  .footer-menu-item
    padding: 5px 0
  .subscribe
    display: none
  .post-item
    width: 100%
  .header-post
    width: 100%
    position: static
  .inner-img
    margin-bottom: 30px
  .inner-title
    font-size: 34px
    margin-bottom: 10px
  .inner-subtitle
    font-size: 18px
  .header-post-row_center
    margin: 30px 0
  .inner-text
    font-size: 18px
    margin-bottom: 20px
  .inner
    padding-bottom: 50px
  .post-go
    font-size: 34px
  .header-main-title
    font-size: 42px
  .header-main-text
    font-size: 18px
  .decision-right:before
    width: 350px
    height: 300px
    background-size: contain
  .security
    padding-top: 90px
  .deep-bottom-right:before
    right: 95px
    top: 140px
  .deep-bottom-right, .deep-bottom-left
    max-width: 420px
  .decision-top-img
    width: 260px
  .header-main_sm
    padding-bottom: 450px
  .skew
    top: -1080px
  .decision-top
    top: -345px
    left: -80px
  .decision-right-img
    width: 320px
  .decision-top-left
    top: -480px
  .click-title
    font-size: 38px
  .click-text
    font-size: 18px
  .click-platforms-flex
    flex-wrap: wrap
  .click-line-left img
    width: 150px
  .click-line-left
    left: 30px
    top: 100px
  .click-right-text
    font-size: 28px
    font-weight: 500
  .click-line-right img
    width: 150px
  .click-line-right
    top: 100px
    right: -80px
  .click-line-center img
    width: 250px
  .click-line-center
    left: 36%
    top: 80px
  .load
    padding-top: 250px
  .load-right
    width: 100%
  .load-right-img
    width: 300px
  .load-item
    margin: 0
  .contact:before
    width: 100px
    height: 140px
    top: -45px
    background-size: contain
  .contact:after
    width: 100px
    height: 140px
    background-size: contain
    top: -90px
  .contact-flex
    flex-direction: column
  .contact
    padding: 150px 0 400px
  .contact-left
    width: 100%
    text-align: center
  .contact-left-title
    font-size: 42px
  .contact-right
    width: 100%
  .mob-img
    display: block
    width: 300px
  .contact-after
    left: 50%
    transform: translateX(-50%)
    bottom: -95px
  .desctop-img
    display: none
  .click
    overflow: hidden
  .contact-left-text
    margin-bottom: 30px
  .tribe-row
    width: 380px
  .tribe-block
    padding: 10px
  .tribe-name
    font-size: 14px
  .tribe-prof
    font-size: 12px
  .tribe-text
    font-size: 8px
    line-height: 1.2
  .click-bottom-fire_lefttribe .click-bottom-img, .click-bottom-fire_righttribe .click-bottom-img
    width: 75px
  .click-bottom-fire_lefttribe
    left: -45px
  .click-bottom-fire_righttribe
    right: -45px
  .tribe-title
    max-width: 380px
    font-size: 38px
    margin-bottom: 30px
  .team-title
    margin-top: 50px
  .team-subtitle
    font-size: 38px
  .members-flex
    flex-wrap: wrap
  .members-item
    width: 30%
    max-width: 30%
  .members-item
    margin-top: 110px
  .members-flex
    margin-top: 0
  .investor
    margin-top: 50px
  .members
    padding-bottom: 100px
  .team-contact
    padding: 150px 0 400px
  .team-contact-after
    left: 50%
    transform: translateX(-50%)
    width: auto
    bottom: -95px
  .popup-container
    width: 90%
  .popup-right
    padding: 40px 20px
  .block-header4
    width: 117px
    height: 75px
    right: 37%
    top: 445px
  .block-header1
    width: 117px
    height: 75px
    left: 42%
    top: 535px
  .block-header5
    width: 117px
    height: 75px
    right: 20%
    top: 544px
  .team-subtitle
    font-size: 28px
    max-width: 450px
  .team-logo
    width: 280px
    height: 280px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .header-post-title
    font-size: 20px
  .header-post-text
    font-size: 14px
  .header-post-description
    font-size: 14px
    margin-left: 5px
  .menu-item
    width: 50%
  .menu
    padding-bottom: 30px
  .post-item-main
    padding: 10px
  .post-item-title
    font-size: 18px
    margin-bottom: 5px
  .post-item-text
    font-size: 14px
  .post-item-flex
    margin-top: 10px
  .footer-flex-item
    width: 100%
    text-align: center
  .follow-flex
    margin: 16px auto 0
  .footer
    padding-top: 40px
  .footer-flex
    padding-bottom: 10px
  .inner-title
    font-size: 30px
  .post-go
    font-size: 20px
  .post-row
    margin-bottom: 10px
  .inner
    padding-bottom: 10px
  .post-item-name
    font-size: 16px
  .header-main-title
    font-size: 32px
    line-height: 1.34
  .header-main-text
    font-size: 16px
    line-height: 1.63
  .decision-subtitle
    font-size: 22px
  .decision-text
    font-size: 14px
    line-height: 1.93
  .decision-top-img
    width: 200px
  .decision-top
    left: -60px
  .decision-right-img
    width: 300px
  .security-title
    font-size: 28px
  .security-description
    font-size: 22px
    margin: 10px 0 30px
  .security-item-left
    width: 80px
  .security-item-firewall
    width: 60px
  .security-item
    padding: 15px 10px
  .security-item-text
    font-size: 12px
    margin-top: 5px
  .security-item-title
    font-size: 14px
  .security-item-head
    width: 35px
    height: 50px
    bottom: 5px
  .deep-left-img
    width: 100%
  .deep-left:before
    width: 320px
    left: calc(50% - 160px)
  .deep-right-title
    font-size: 22px
  .deep-right-text
    font-size: 14px
    line-height: 1.93
  .deep-bottom-right, .deep-bottom-left
    width: 100%
  .deep-bottom-right:before
    width: 180px
    background-size: contain
    right: 15px
    top: 80px
  .click-title
    font-size: 28px
    line-height: 1.25
  .click-text
    font-size: 14px
    line-height: 1.93
  .click-block
    flex-direction: column
  .click-right-text
    text-align: center
  .click-right
    margin: 30px 0 0
  .click-platforms-item .logo1
    width: 22px
  .click-platforms-item .logo2
    width: 30px
  .click-platforms-item .logo3
    width: 28px
  .click-platforms-item .logo4
    width: 27px
  .click-platforms-item
    min-width: 45px
    margin: 0 10px
  .logo5
    width: 76px
    margin-bottom: 10px
  .logo6
    width: 76px
  .logo7
    width: 20px
  .logo8
    width: 25px
  .logo9
    width: 74px
  .click-bottom-title
    font-size: 22px
  .click-bottom-text
    font-size: 14px
    line-height: 1.5
  .click-bottom
    margin-top: 170px
  .click-bottom-autor
    font-size: 10px
    margin-top: 15px
  .click-bottom-description
    font-size: 8px
  .load-right-title
    font-size: 22px
  .load
    padding-top: 200px
  .load-right-subtitle
    font-size: 28px
    line-height: 1.18
  .load-right-img
    width: 270px
  .load-btn
    width: 100%
    height: 68px
    font-size: 18px
  .load-slider-title
    font-size: 28px
  .load-item-title
    font-size: 20px
  .load-item-text
    font-size: 15px
    line-height: 1.33
  .contact-left-title
    font-size: 32px
    line-height: 1.22
  .contact-left-text
    font-size: 14px
    line-height: 1.93
    margin: 10px 0 30px
  .contact-right-input
    margin-bottom: 20px
  .contact-right-btn
    width: 100%
    height: 68px
  .decision-right
    margin-right: -35px
  .decision-flex
    overflow: hidden
  .team-title
    font-size: 20px
  .team-subtitle
    font-size: 20px
    margin-bottom: 15px
  .team-logo
    width: 100%
    max-width: 200px
    height: auto
  .tribe-row
    max-width: 260px
  .tribe-block
    padding: 5px
  .tribe-name
    font-size: 10px
    line-height: 1
  .click-bottom-fire_righttribe, .click-bottom-fire_lefttribe
    top: -40px
  .tribe-prof
    font-size: 8px
  .tribe-text
    font-size: 6px
    margin-top: 0
  .team-contact
    padding-top: 100px
  .members-item-text
    font-size: 9px
  .members-item-name
    font-size: 12px
  .members-top img
    width: 60px
  .members-item
    padding-top: 70px
  .members-top
    top: -35px
  .members-item
    margin-top: 70px
  .click-bottom-fire_left img
    width: 100px
  .click-bottom-fire_left
    top: -80px
  .click-bottom-fire_right img
    width: 100px
  .click-bottom-fire_right
    top: -80px
  .block-header4
    right: 28%
  .block-header5
    right: 10%
    top: 510px
  .block-item1, .block-item2, .block-item3, .block-item4, .block-item5, .block-item6, .block-item7, .block-item8
    width: 70px
    height: 45px
  .block-item3
    top: 255px
  .block-item2
    top: 315px
  .block-item4
    top: 380px
  .block-item5
    top: 170px
    right: -4%
  .block-item6
    top: 280px
  .block-item7
    top: 340px
  .block-item8
    top: 400px
    right: 8%
