@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1260px)
  .decision-top-left
    right: 0px
  .decision-right
    margin-right: 0
  .deep-bottom:before
    display: none
  .container_fluid_main
    max-width: 1052px
  .header-main_sm
    padding: 150px 0 400px 0
  .contact:before
    top: -60px
  .contact-after-img
    width: 230px
  .contact-after
    bottom: -120px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .header:after, .header:before
    display: none
  .header-main
    padding-top: 40px
  .header-post-title
    font-size: 30px
  .header-post-text
    font-size: 16px
  .header-post-row
    margin-top: 10px
  .header-post
    width: 420px
    padding: 10px
  .header
    padding-bottom: 0
    overflow: visible
    //position: fixed
    //width: 100%
    //top: 0
    //left: 0
    //z-index: 3
  .header-main_sm
    max-width: 100%
  .header-main-title
    text-align: center
  .header-main-text
    text-align: center
  .header-main_sm
    padding-bottom: 670px
  .decision-top-left
    top: -690px
  .decision
    padding-top: 400px
  .decision-top
    top: -470px
  .decision-top-img
    width: 400px
  .block-header1
    display: none
  .block-header2
    display: none
  .inner
    padding-top: 70px
  .menu-item
    font-size: 16px
    margin: 0 5px
  .post-item-main
    padding: 20px
  .post-item-title
    font-size: 22px
    margin-bottom: 10px
  .post-item-text
    font-size: 16px
  .post-item
    margin-bottom: 20px
  .post-more
    padding: 20px 0 40px
  .footer-flex
    padding-bottom: 40px
  .mobile
    display: block
  .desctop
    display: none
  .decision-flex
    flex-wrap: wrap
    justify-content: center
  .decision-left
    max-width: 100%
    text-align: center
  .decision-right-img
    width: 400px
  .decision-right:before
    top: 180px
  .security-description
    margin-bottom: 65px
  .security-item
    width: 100%
  .security-row
    flex-wrap: wrap
    justify-content: center
    margin: 0
  .security-item_first:before
    left: -50px
    top: 80px
  .security-item_second:before, .security-item_third:before, .security-item_fourth:before, .security-item_fifth:before, .security-item_sixth:before
    display: none
  .security-item
    margin-bottom: 20px
  .deep-flex
    flex-direction: column
  .deep-left-img
    width: 400px
  .security
    padding-bottom: 0
  .deep-left:before
    width: 100%
  .deep-left
    margin: 0
    width: 100%
    text-align: center
  .deep-left:before
    background-size: contain
    width: 400px
    left: calc(50% - 200px)
  .deep-right-title
    text-align: center
  .decision-right
    margin-top: 50px
  .deep
    padding-top: 20px
  .deep-right-text
    text-align: center
  .deep-bottom
    margin-top: 80px
  .deep-bottom-right
    position: static
    margin: 0 auto
  .deep-bottom-left
    margin: 50px auto 0
    display: block
  .deep-bottom-right:before
    top: 225px
    left: inherit
    right: 70px
  .click-block
    margin-top: 70px
  .click-bottom
    max-width: 580px
    padding: 30px
  .click-bottom-fire_left
    left: -30px
    top: -140px
  .click-bottom-fire_right
    right: -30px
    top: -140px
  .click-line
    left: -50px
    width: 100%
  .click-line-right
    right: -100px
  .click-line-center
    left: 10%
    top: -5px
  .load-left
    display: none
  .load-right
    margin-left: 0
  .load
    padding-top: 300px
  .load-right
    text-align: center
  .load-right-img
    display: block
    margin: 30px auto 0
  .contact:before
    top: -80px
  .contact:after
    top: -170px
  .shine
    display: none
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .menu-list
    flex-wrap: wrap
  .menu-item
    width: 25%
    margin: 0
    text-align: center
  .post-content
    flex-direction: column
    align-items: center
  .footer-flex-item
    width: 33%
    margin-bottom: 20px
  .footer-flex
    flex-wrap: wrap
  .footer-menu-item
    padding: 5px 0
  .subscribe
    display: none
  .post-item
    width: 100%
  .header-post
    width: 100%
    position: static
  .inner-img
    margin-bottom: 30px
  .inner-title
    font-size: 34px
    margin-bottom: 10px
  .inner-subtitle
    font-size: 18px
  .header-post-row_center
    margin: 30px 0
  .inner-text
    font-size: 18px
    margin-bottom: 20px
  .inner
    padding-bottom: 50px
  .post-go
    font-size: 34px
  .header-main-title
    font-size: 42px
  .header-main-text
    font-size: 18px
  .decision-right:before
    width: 350px
    height: 300px
    background-size: contain
  .security
    padding-top: 90px
  .deep-bottom-right:before
    right: 95px
    top: 140px
  .deep-bottom-right, .deep-bottom-left
    max-width: 420px
  .decision-top-img
    width: 260px
  .header-main_sm
    padding-bottom: 450px
  .skew
    top: -1080px
  .decision-top
    top: -345px
    left: -80px
  .decision-right-img
    width: 320px
  .decision-top-left
    top: -480px
  .click-title
    font-size: 38px
  .click-text
    font-size: 18px
  .click-platforms-flex
    flex-wrap: wrap
  .click-line-left img
    width: 150px
  .click-line-left
    left: 30px
    top: 100px
  .click-right-text
    font-size: 28px
    font-weight: 500
  .click-line-right img
    width: 150px
  .click-line-right
    top: 100px
    right: -80px
  .click-line-center img
    width: 250px
  .click-line-center
    left: 36%
    top: 80px
  .load
    padding-top: 250px
  .load-right
    width: 100%
  .load-right-img
    width: 300px
  .load-item
    margin: 0
  .contact:before
    width: 100px
    height: 140px
    top: -45px
    background-size: contain
  .contact:after
    width: 100px
    height: 140px
    background-size: contain
    top: -90px
  .contact-flex
    flex-direction: column
  .contact
    padding: 150px 0 400px
  .contact-left
    width: 100%
    text-align: center
  .contact-left-title
    font-size: 42px
  .contact-right
    width: 100%
  .contact-after-img.mob
    display: block
    width: 300px
  .contact-after
    left: 50%
    transform: translateX(-50%)
    bottom: -95px
  .contact-after-img.desctop
    display: none
  .click
    overflow: hidden
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .header-post-title
    font-size: 20px
  .header-post-text
    font-size: 14px
  .header-post-description
    font-size: 14px
    margin-left: 5px
  .menu-item
    width: 50%
  .menu
    padding-bottom: 30px
  .post-item-main
    padding: 10px
  .post-item-title
    font-size: 18px
    margin-bottom: 5px
  .post-item-text
    font-size: 14px
  .post-item-flex
    margin-top: 10px
  .footer-flex-item
    width: 100%
    text-align: center
  .follow-flex
    margin: 16px auto 0
  .footer
    padding-top: 40px
  .footer-flex
    padding-bottom: 10px
  .inner-title
    font-size: 30px
  .post-go
    font-size: 20px
  .post-row
    margin-bottom: 10px
  .inner
    padding-bottom: 10px
  .post-item-name
    font-size: 16px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

